<footer role="contentinfo" class="gennext-l-footer">

        <div class="gennext-l-footer__bottom">
            <div class="gennext-l-constraint clear">
                <div class="gennext-m-footer__bottom__logo-slogan">
                    <img src="images/Codehub.png" alt="gennext logo">
                    <p>
                        We are <img alt="gennext"
                            src="images/gennext-logo-line-white.png">
                    </p>
                </div>
                <p>© 2014  CodeHub</p>
                <ul class="gennext-m-list gennext-m-list--horizontally">
                    <li><a href=""
                        title="GenNext on GitHub"><i class="fa fa-github"></i></a></li>
                    <li><a href="http://twitter.com/tkssharma"
                        title="GenNext on Twitter"><i class="fa fa-twitter"></i></a></li>
                    <li><a href=""
                        title="GenNext on facebook"><i class="fa fa-facebook"></i></a></li>
                    <li><a href=""
                        title=" Google Plus"><i class="fa fa-google-plus"></i></a></li>
                    <li><a
                        href=""
                        title="GenNext on Youtube"><i class="fa fa-youtube"></i></a></li>
                    <li><a href="/code-of-conduct.html"
                        title="GenNext's code of conduct">Code of Conduct</a></li>
                    <li><a href="/impressum.html" title="Impressum">Impressum</a></li>
                </ul>
            </div>
        </div>
    </footer>
