<main role="main" class="gennext-l-main" itemprop="mainContentOfPage">
    <section class="gennext-m-section gennext-m-section--last-on-page">
        <div class="gennext-l-constraint">
            <div class="gennext-m-section__content">
                <h2 class="gennext-m-section__sub-headline">JSON Web Token Tutorials</h2>
                <p itemprop="about" class="gennext-m-teaser-text">Here we will talk about token based authentication principles and the standard used for token based authentication, JSON Web Tokens.</p>
            </div>
        </div>
    </section>

    <section class="gennext-m-section">
        <div class="gennext-m-section__skew"></div>
        <div class="gennext-l-constraint">
            <div class="gennext-m-section__content">
                <h2 class="gennext-m-section__sub-headline">We love open source</h2>
                <p class="gennext-m-teaser-text">
                    We love coding. And we also believe in open source. That's why we
                    contribute to many projects with people from all over the world to
                    push things forward. <strong>Here's what we've contributed
                        to</strong>.
                </p>
                <div class="gennext-l-grid-units">
                    <div class="gennext-l-grid-u--1-1 gennext-l-grid-u--medium-1-3">
                        <div
                            class="gennext-m-content-box gennext-content-box--has-bigger-images">
                            <img alt="AngularJS Logo"
                                style="margin-top: 2em; margin-bottom: 2em;"
                                src="images/angular-logo.png">
                            <p class="gennext-l-center">Supports several languages including plain JavaScript, TypeScript, and Dart. Also supports both object-style data structure with POJO data-binding and functional reactive style with unidirectional data flow and support for observables and immutable data structures.</p>
                        </div>
                    </div>
                    <div class="gennext-l-grid-u--1-1 gennext-l-grid-u--medium-1-3">
                        <div
                            class="gennext-m-content-box gennext-content-box--has-bigger-images">
                            <img alt="angular-translate Logo"
                                src="images/node.png">
                            <p class="gennext-l-center">Node.js® is a JavaScript runtime built on Chrome's V8 JavaScript engine. Node.js uses an event-driven, non-blocking I/O model that makes it lightweight and efficient. Node.js' package ecosystem, npm, is the largest ecosystem of open source libraries in the world.</p>
                        </div>
                    </div>
                    <div class="gennext-l-grid-u--1-1 gennext-l-grid-u--medium-1-3">
                        <div
                            class="gennext-m-content-box gennext-content-box--has-bigger-images">
                            <img alt="Nickel.rs Logo"
                                style="margin-top: 2em; margin-bottom: 2.5em;"
                                src="images/react.png">
                            <p class="gennext-l-center">React abstracts away the DOM from you, giving a simpler programming model and better performance. React can also render on the server using Node, and it can power native apps using React Native.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    </main>
