<section class="login-section section" ng-controller="authController">
	<div class="container">

		<div class="clearfix"></div>
		<div class="row">
			<div class="col-sm-6 col-sm-offset-3 text-center">
				<div class="sign-box row mt-70">

					<div class="text-center">
						<h3 class="title-small">Enter new password<span class="text-point">.</span></h3>

						<div class="line-section mb-30"></div>
					</div>
					<div class="sign-box-cont">
						<div class="social-buttons row override-col-margin col-md-12" style="margin-bottom: 10px;padding: 0px;">
							<div class="col-md-6 override-col-margin">
								<a style="width: 100%" href="/api/users/facebook"
								class="btn btn-primary facebook btn-fb"><i
								class="fa fa-facebook "></i> Facebook</a>
							</div>

							<div class="col-md-6 override-col-margin">
								<a style="width: 100%" href="/api/users/google"
								class="btn btn-primary google btn-tw"><i
								class="fa fa-google-plus "></i> Google</a>
							</div>
						</div>
                        <div class="col-md-12 override-col-margin row">
						<form novalidate class="form" class="row col-md-12" role="form" name="resetform" method="post"
								ng-class="{ 'submitted' : changepasswordsubmitted === true}"
								ng-submit="changePassword(resetform)" accept-charset="UTF-8"
								id="login-nav">
								<div class="form-group">
									<label class="sr-only" for="exampleInputEmail2">New password
										</label> <input type="password" required ng-model="userData.newpassword1"
										class="form-control" name="newpassword1" id="newpassword1"
										placeholder="enter new Password"> <span
										class=" label label-danger"
										data-ng-show="changepasswordsubmitted  && changepasswordform.newpassword1.$error.required">Please
										enter new password!!</span>
								</div>
								<div class="form-group">
									<label class="sr-only" for="exampleInputEmail2">New password</label> <input type="password" required ng-model="userData.newpassword2"
										class="form-control" name="newpassword2" id="newpassword2"
										placeholder="enter new Password"> <span
										class=" label label-danger"
										data-ng-show="changepasswordsubmitted  && changepasswordform.newpassword2.$error.required">Please
										enter new password!!</span>
								</div>
								<div class="row-space-2 row-space-top-2">
									<small class="bg-danger"> {{changepwdmessage}}
									</small>

								</div>

								<div class="signup text-center mt-15">
							<span>Already have an account?</span> <a  href="#/login">Sign In</a>
							</div>
								<div class="form-group">
									<button type="submit" class="btn btn-primary btn-block">Reset
										password</button>
								</div>


							</form>
</div>
							          </div>
					</div>
				</div>
			</div>
		</div>
	</section>

