<section class="login-section section mt-30" ng-controller="authController">

	<div class="container">
		<div class="clearfix"></div>
		<div class="row">
			<div class="col-sm-6 col-sm-offset-3 text-center">
				<div class="sign-box  row mt-70">
					<div class="text-center">
						<h3 class="title-small">Create a new account<span class="text-point">.</span></h3>
						<div class="heading-section color-primary">The first step to great things</div>
						<div class="line-section mb-30"></div>
					</div>
					<div class="sign-box-cont ">
						<div class="social-buttons override-col-margin col-md-12" style="margin-bottom: 10px;padding: 0px;">
							<div class="col-md-6 override-col-margin">
								<a style="width: 100%" href="/api/userDatas/facebook"
								class="btn btn-primary facebook btn-fb"><i
								class="fa fa-facebook "></i> Facebook</a>
							</div>

							<div class="col-md-6 override-col-margin">
								<a style="width: 100%" href="/api/userDatas/google"
								class="btn btn-primary google btn-tw"><i
								class="fa fa-google-plus "></i> Google</a>
							</div>
						</div>
					 <div class="col-md-12 override-col-margin row">
					 <div  class="bg-danger"
								role="alert">{{registererrormessage}}</div>
						<form class="form" novalidate role="form" name="registerform"
						ng-submit="register(registerform)"
						ng-class="{ 'submitted' : registersubmitted === true}"
						accept-charset="UTF-8" id="login-nav">
						<div class="form-group">
							<label class="sr-only" for="nameInput">Name</label> <input
							type="text" ng-model="userData.firstname" class="form-control"
							id="firstname" name="firstname" placeholder="First Name" required> <span
							class=" label label-danger"
							data-ng-show="registersubmitted  && registerform.firstname.$error.required">Please
							enter Name !</span>
						</div>
						<div class="form-group">
							<label class="sr-only" for="nameInput">Name</label> <input
							type="text" ng-model="userData.lastname" class="form-control"
							id="lastname" name="lastname" placeholder="Last Name" required> <span
							class=" label label-danger"
							data-ng-show="registersubmitted  && registerform.lastname.$error.required">Please
							enter Name !</span>
						</div>
						<div class="form-group">
							<label class="sr-only" for="emailAddressInput">Email
								address</label> <input type="email" ng-model="userData.email"
								class="form-control" id="email" name="email"
								placeholder="Email address" required> <span
								class=" label label-danger"
								data-ng-show="registersubmitted  && registerform.email.$error.required">Please
								enter Email !</span> <span class=" label label-danger"
								data-ng-show="registersubmitted  && registerform.email.$error.email">Please
								enter valid Email !</span>
							</div>
							<div class="form-group">
								<label class="sr-only" for="passwordInput">Password</label> <input
								type="password" ng-model="userData.password" class="form-control"
								id="password" name="password" placeholder="Password" required>
								<span class=" label label-danger"
								data-ng-show="registersubmitted  && registerform.password.$error.required">Please
								enter password !</span>
							</div>
							<div class="form-group">
								<label class="sr-only" for="cityInput">City</label> <input
								type="text" ng-model="userData.city" class="form-control"
								placeholder="city/country" id="Autocomplete"
								class="form-control" vs-google-autocomplete name="Autocomplete" placeholder="city" required>
							</div>

							<div class="row-space-2 row-space-top-2">
								<div class="checkbox">
									<label> <input type="checkbox"><span
										class="checkbox-material"><span class="check"></span></span>
										I agree to the terms of service
									</label>
								</div>
							</div>
							<button type="submit" class="btn btn-block btn-primary modal-login-btn">Register</button>
							<div class="signup text-center mt-15">
								<span>Already have account</span> <a  href="#/login">Sign In</a>
							</div>
						</form>
</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
